.gallery__button {
  background: #0278fe;
  color: #ffffff;
  width: fit-content;
  height: max-content;
  font-size: 18px;
  grid-area: button;
  border-radius: 4px;
  padding: 13px 20px;
  border-style: none;
  font-weight: 600;
}
.gallery__button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 544px) {
  .gallery__button {
    width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
