.gallery__button {
  background: #0278fe;
  color: #ffffff;
  width: fit-content;
  height: max-content;
  font-size: 18px;
  grid-area: button;
  border-radius: 4px;
  padding: 13px 20px;
  border-style: none;
  font-weight: 600;
  font-size: 18px;
}
.gallery__button:hover {
  background-color: #0063d2;
}
