.photo-grid {
  padding: 118px 48px 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  max-height: 100%;
  max-width: 100%;
  grid-gap: 16px;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    max-height: 100%;
    max-width: 100%;
    padding: 90px 24px 88px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
  }
}
@media screen and (max-width: 544px) {
  .photo-grid {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 32px 16px 62px;
  }
}
