.gallery {
  max-width: 984px;
  margin: 0;
}

@media screen and (max-width: 880px) {
  .gallery {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 544px) {
  .gallery {
    margin: 0;
  }
}
