.gallery {
  max-width: 984px;
  margin: 92px 148px 0 148px;
}

@media screen and (max-width: 880px) {
  .gallery {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 544px) {
  .gallery {
    margin-left: 16px;
    margin-right: 16px;
  }
}
