.visit {
  background-color: #2a2c2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-image: url(../../images/visit.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  margin-top: 92px;
  margin-bottom: 92px;
}

.visit:hover {
  opacity: 0.2;
}
@media screen and (max-width: 1024px) {
  .visit {
    max-width: 1024px;
    width: 100%;
    margin: 92px 0 88px 0;
    padding: 0;
    min-height: 746px;
  }
}

@media screen and (max-width: 544px) {
  .visit {
    max-width: 544px;
    min-height: 254px;
    width: 100%;
    padding: 0;
    margin-bottom: 64px;
  }
}
