.header__logo {
  max-width: 270px;
  max-height: 70px;
  padding: 34px 0 90px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding: 34px 0 90px;
  }
}

@media screen and (max-width: 544px) {
  .header__logo {
    max-width: 200px;
    max-height: 50px;
    padding: 20px 0 50px;
  }
}
