.header__description {
  font-family: Inter;
  font-style: Black;
  font-size: 54px;
  line-height: 58px;
  width: 785px;
  height: 116px;
  margin-top: 92px;
  margin-bottom: 40px;
  padding-left: 148px;
  padding-right: 347px;
}
