.gallery__heading_rio {
  font-family: Inter;
  font-size: 60px;
  line-height: 76px;
  margin: 0;
  grid-area: title;
}

@media screen and (max-width: 1024px) {
  .gallery__heading_rio {
    font-size: 38px;
    line-height: 46px;
  }
}

@media screen and (max-width: 544px) {
  .gallery__heading_rio {
    font-size: 25px;
    line-height: 35px;
  }
}
