.gallery__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 8px;
  margin: 0;
  color: #aaaaaa;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}
