.header__subtitle {
  font-family: Inter;
  font-style: regular;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 64px;
  margin-top: 0;
  width: 720px;
  height: 72px;
  text-align: center;
}
