.intro__author {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 1.4;
  text-align: end;
  margin: 10px 0 0 0;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__author {
    max-width: 720px;
  }
}

@media screen and (max-width: 495px) {
  .intro__author {
    line-height: 1.25;
    max-width: 288px;
    padding: 0 16px;
  }
}
