.intro__paragraph {
  max-width: 720px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding-top: 32px;
}

@media screen and (max-width: 1024px) {
  .intro__paragraph {
    padding: 32px 0 0;
  }
}
@media screen and (max-width: 544px) {
  .intro__paragraph {
    margin: 0;
    padding: 32px 16px 0px;
    max-width: 288px;
  }
}
