.header__title {
  max-width: 793px;
  font-family: Inter;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  padding-bottom: 32px;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .header__title {
    margin: 0;
  }
}
@media screen and (max-width: 544px) {
  .header__title {
    margin: 0;
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
