.header__paragraph {
  width: 720px;
  height: 156px;
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  padding-left: 148px;
  padding-right: 412px;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  .header__paragraph {
    margin: 0;
    padding: 32px 24px 0px;
  }
}
@media screen and (max-width: 544px) {
  .header__paragraph {
    margin: 0;
    padding: 32px 16px 0px;
    width: 288px;
    height: 390px;
    line-height: 26px;
  }
}
