.gallery__paragraph_text {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  padding-bottom: 25px;
}
.gallery__paragraph_text:last-child {
  padding-bottom: 0;
}
